{% load static %}
<style>
.trace{
    text-align:center 
   
}
.red{
color:rgb(180, 10, 10)
}
</style>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="{%  static 'home/images/csr.jpg' %}" class="img-fluid" alt="Wild Landscape">
            
        </div>
        <div class="col-sm-1">
            
            
        </div>
        <div class="col-sm-5">
            <h1 class="red trace">CSR</h1>
                <small class="trace "><pre>-----For the socially committed------</pre></small>
                <p class="contentjustify" >SC offers a variety of initiatives to interest those responsible Corporates who want to give back to society. These initiatives, worthy of investment, are powerful platforms for the creation of social impact, while offering opportunities for fulfilling personal and organisational engagement.
                    BREADS vouches for credibility, transparency, professional execution and delivery. the caring community it envisages, to draw vulnerable children back into the mainstream.</p>  
                    <div class="container">
                        <button type="button" class="btn btn-info">Know More</button>                 
                      </div>
            </div>    
        </div>
    
    
    </div>
</div>