{% load static %}
<style>
.red{
color:rgb(180, 10, 10)
}
.red{
color:rgb(180, 10, 10)
}
.trace{
    text-align:center 
   
}
.contentjustify{
    text-align: justify; text-align-last: center;
}

</style>
<div class="container">
    <div class="trace">
        <h1 class="red"><b>Every action counts</b></h1>
         <p><pre>----no help is small----</pre></p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100 ">
            <img src="{%  static 'home/images/donate.png' %}" class=" mx-auto rounded-circle shadow-4-strong border " width="90" height="90" alt="Wild Landscape">
            
            <div class="card-body">
              <h5 class="card-title trace"> <a href="{% url 'donate' %}" class="nav-link" >DONATE</a></h5>
              <p class="card-text trace contentjustify ">Will you send a child to school? Would you help skill the young? Can you help a woman become financially self-reliant? Your support is vital. It does make a difference in their lives.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img src="{%  static 'home/images/v1.jpg' %}" class=" mx-auto rounded-circle shadow-4-strong border " width="90" height="90" alt="Wild Landscape">
            <div class="card-body">
              <h5 class="card-title trace"><a href="{% url 'volunteer' %}" class="nav-link" >VOLUNTEER</a></h5>
              <p class="card-text trace contentjustify">BREADS facilitates volunteering from multiple countries across its various projects. Volunteers can offer their time, talent, resources, and skills in different domains, including the centres for the Young at Risk and in BREADS itself.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{%  static 'home/images/share.png' %}" class="mx-auto rounded-circle shadow-4-strong border " width="80" height="80"  alt="Wild Landscape">
            <div class="card-body">
              <h5 class="card-title trace"><a href="{% url 'share' %}" class="nav-link" >SHARE</a></h5>
              <p class="card-text contentjustify">Spread the word and share the goodness. Tell your friends and family about your experience with BREADS Bangalore.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    