{% load static %}
<style>   
.trace{
    text-align:center 
   
}
.red{
color:rgb(180, 10, 10)
}
</style>
<br><br>

<div class="container">
    <h1 class="red trace">Recent Event </h1>
    <small class="trace"><pre>----We did together----</pre></small>
    <div class="row">
        <div class="col-3">
            <div class="card">
             <img src="{%  static 'home/images/event5U.jpg' %}" class="card-img-top" alt="Wild Landscape">
             <div class="card-body">
                <h5 class="card-body">abc</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
             </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
             <img src="{%  static 'home/images/event5U.jpg' %}" class="card-img-top" alt="Wild Landscape">
             <div class="card-body">
                <h5 class="card-body">abc</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
             </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <img src="{%  static 'home/images/event1U.jpg' %}" class="card-img-top" alt="Wild Landscape">
                <div class="card-body">
                   <h5 class="card-body">abc</h5>
                   <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                       Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                </div>
            </div> 
        </div>

        <div class="col-3">
            <div class="card">
                <img src="{%  static 'home/images/csrU.jpg' %}" class="card-img-top" alt="Wild Landscape">
                <div class="card-body">
                   <h5 class="card-body">abc</h5>
                   <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                       Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                </div>
            </div> 
        </div> 

    </div>
</div>

