{% load static %}
<style>   
.contentjustify{
    text-align: justify; 
    text-align-last: center;
}
.trace{
    text-align:center 
   
}
.red{
color:rgb(180, 10, 10)
}

</style>
<div class="container mt-5">       
        <div class="col-sm-12">
            <h1 class="red trace">What we do</h1>
            <small class="trace "><pre>----action speaks larger----</pre></small>
            <p class="contentjustify" >The India Young Sporting Alliance has a clear vision of inclusiveness for children and youth who are on the margins of society—-those children on the street, out of school, labourers, orphans or single-parent children, children who are in the Government school —using sports as a platform of opportunity.
            </p>  
        </div>    
</div>
