{% load static %}
{% include 'core/header.html' %} 
<style>
    .maps{
        width: 100%;
        height: 100vh;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    h1{
        color: red;
        margin-bottom: 60px;
    }
    iframe{
        width:80%;
        height:100vh;
        
    }
    .contact{
        text-align:center
    }
</style>
<br><br>
<div class = "container contact col-sm-5">

       <form action="" method="POST">
        {% csrf_token %}
            <table>
                {{form.as_table}}   
            </table>
        <input type="submit" class="btn btn-success" value="Submit">
       </form>
        
        
</div>
    <hr>
    
    <div class="container maps">
        <h1>Google maps</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.2025708560022!2d77.5593804250762!3d12.958885787355342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3e0218ad18bb%3A0xb4bfb421c7df0cf2!2sIndia%20Young%20Sporting%20Alliance!5e0!3m2!1sen!2sin!4v1706499176366!5m2!1sen!2sin" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
             
    </div>

{% include 'core/footer.html' %}    

   
     


