{% load static %}
{% include 'core/header.html' %} 

        <style>
            .text-overlay {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                text-align: center;
            }

            .text-overlay h2 {
                font-size: 2rem;
            }
            .imagevolunteer{
               opacity: 0.9; 
            }
            .backend{
                color: purple;
            }
        </style>
<br>

<div class = "container">
            
    <div class="imagevolunteer">
        <div class="position-relative"> 
                <img src="{%  static 'engagewithus/images/volunteer.jpg' %}" width="100%" height="500px" alt="I am volunteer">
            
            
            <div class="text-overlay">
                <h2 class="text-center text-black"><i>“Volunteers do not necessarily have the time,
                     they just have the heart.”</i></h2>
            </div>
        </div>
    </div>
    <br>
    <div class="container p-7 sec2">
        <h2 class="text-center"> our Partners</h2>
        <h6 class="text-center">1. partner A</h6>       
    </div>
    
         
</div>